org: cameloasa
service: notes-serverless

provider:
  name: aws
  runtime: python3.12
  region: eu-north-1
  stage: dev

plugins:
  - serverless-offline
  - serverless-dynamodb-local

functions:
  # Create Note
  createNote:
    handler: handler.create_note
    events:
      - httpApi:
          path: /api/notes/{username}
          method: post

  # Get Notes by User
  getNotes:
    handler: handler.get_notes
    events:
      - httpApi:
          path: /api/notes/{username}
          method: get

  # Update Note
  updateNote:
    handler: handler.update_note
    events:
      - httpApi:
          path: /api/notes/{id}
          method: put

  # Delete Note
  deleteNote:
    handler: handler.delete_note
    events:
      - httpApi:
          path: /api/notes/{id}
          method: delete

resources:
  Resources:
    NotesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: username
            KeyType: HASH
          - AttributeName: id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST