org: cameloasa
service: notes-serverless

provider:
  name: aws
  runtime: python3.12
  region: eu-north-1
  stage: dev
  environment:
    API_KEYS: ${file(config.yml):${self:provider.stage}.API_KEYS}
  role: arn:aws:iam::259124312060:role/LambdaDynamoDBRole
  httpApi:
    authorizers:
      notesAuthorizer:
        type: request
        functionName: authorizer
        payloadVersion: "2.0"
        enableSimpleResponses: true
        identitySource:
          - $request.header.x-api-key


functions:
  authorizer:
    handler: handler.authorizer.lambda_handler

  createNote:
    handler: handler.create_note.lambda_handler
    events:
      - httpApi:
          path: /api/notes/{username}
          method: post
          authorizer:
            name: notesAuthorizer

  getNotes:
    handler: handler.get_notes.lambda_handler  
    events:
      - httpApi:
          path: /api/notes/{username}
          method: get
          authorizer:
            name: notesAuthorizer

  updateNote:
    handler: handler.update_note.lambda_handler
    events:
      - httpApi:
          path: /api/notes/{id}
          method: put
          authorizer:
            name: notesAuthorizer

  deleteNote:
    handler: handler.delete_note.lambda_handler
    events:
      - httpApi:
          path: /api/notes/{id}
          method: delete
          authorizer:
            name: notesAuthorizer

resources:
  Resources:
    NotesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:service}-${self:provider.stage}
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: username
            KeyType: HASH
          - AttributeName: id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
        - IndexName: idIndex
          KeySchema:
            - AttributeName: id
              KeyType: HASH
          Projection:
            ProjectionType: ALL